<nav id="navbar">
  <header>JS Documentation</header>
  <ul>
    <li><a class="nav-link" href="#Introduction">Introduction</a></li>
    <li>
      <a class="nav-link" href="#What_you_should_already_know">What you should already know</a>
    </li>
    <li>
      <a class="nav-link" href="#JavaScript_and_Java">JavaScript and Java</a>
    </li>
    <li><a class="nav-link" href="#Hello_world">Hello world</a></li>
    <li><a class="nav_link" href="#Variables">Variables</a></li>
    <li><a class="nav_link" href="#Constants">Constants</a></li> 
    <li><a class="nav_link" href="#Reference">Reference</a></li>
  </ul>
</nav>
<main id="main-doc">
  <section class="main-section" id="Introduction">
    <header>Intrudoction</header>
    <article>
      <p>
        JavaScript is a cross-platform, object-oriented scripting language. It
        is a small and lightweight language. Inside a host environment (for
        example, a web browser), JavaScript can be connected to the objects of
        its environment to provide programmatic control over them.
      </p>
      
      <p>
        JavaScript contains a standard library of objects, such as Array, Date,
        and Math, and a core set of language elements such as operators, control
        structures, and statements. Core JavaScript can be extended for a
        variety of purposes by supplementing it with additional objects; for
        example:
      </p>
      <ul>
        <li>
           Client-side JavaScript extends the core language by supplying objects
          to control a browser and its Document Object Model (DOM). For example,
          client-side extensions allow an application to place elements on an
          HTML form and respond to user events such as mouse clicks, form input,
          and page navigation.
        </li>
        <li>
          erver-side JavaScript extends the core language by supplying objects
          relevant to running JavaScript on a server. For example, server-side
          extensions allow an application to communicate with a database,
          provide continuity of information from one invocation to another of
          the application, or perform file manipulations on a server.
        </li>
      </ul>
    </article>
  </section>
  <section class="main-section" id="What_you_should_already_know">
    <header>What you should already know</header>
    <article>
      <p>This guide assumes you have the following basic background:</p>
      
      <ul>
        <li>
          A general understanding of the Internet and the World Wide Web (WWW).
        </li>
        <li>Good working knowledge of HyperText Markup Language (HTML).</li>
        <li>
          Some programming experience. If you are new to programming, try one of
          the tutorials linked on the main page about JavaScript.
        </li>
      </ul>
    </article>
  </section>
  <section class="main-section" id="JavaScript_and_Java">
    <header>JavaScript and Java</header>
    <article>
      <p>
        JavaScript and Java are similar in some ways but fundamentally different
        in some others. The JavaScript language resembles Java but does not have
        Java's static typing and strong type checking. JavaScript follows most
        Java expression syntax, naming conventions and basic control-flow
        constructs which was the reason why it was renamed from LiveScript to
        JavaScript.
      </p>
      
      <p>
         In contrast to Java's compile-time system of classes built by
        declarations, JavaScript supports a runtime system based on a small
        number of data types representing numeric, Boolean, and string values.
        JavaScript has a prototype-based object model instead of the more common
        class-based object model. The prototype-based model provides dynamic
        inheritance; that is, what is inherited can vary for individual objects.
        JavaScript also supports functions without any special declarative
        requirements. Functions can be properties of objects, executing as
        loosely typed methods.
      </p>
      
      <p>
        JavaScript is a very free-form language compared to Java. You do not
        have to declare all variables, classes, and methods. You do not have to
        be concerned with whether methods are public, private, or protected, and
        you do not have to implement interfaces. Variables, parameters, and
        function return types are not explicitly typed.
      </p>
    </article>
  </section>
  <section class="main-section" id="Hello_world">
    <header>Hello world</header>
    <article>
       To get started with writing JavaScript, open the Scratchpad and write your
      first "Hello world" JavaScript code:
      <code> function greetMe(yourName) {Alert("hello " + yourName);}
      </code>
      elect the code in the pad and hit Ctrl+R to watch it unfold in your
      browser!
    </article>
  </section>
  <section class="main-section" id="Variables">
    <header>variables</header>
    
    <p>
      You use variables as symbolic names for values in your application. The
      names of variables, called identifiers, conform to certain rules.
    </p>
    <p>
      A JavaScript identifier must start with a letter, underscore (_), or
      dollar sign ($); subsequent characters can also be digits (0-9). Because
      JavaScript is case sensitive, letters include the characters "A" through
      "Z" (uppercase) and the characters "a" through "z" (lowercase).
    </p>
    <p>
      You can use ISO 8859-1 or Unicode letters such as å and ü in identifiers.
      You can also use the Unicode escape sequences as characters in
      identifiers. Some examples of legal names are Number_hits, temp99, and
      _name.
    </p>
  </section>
  <section class="main-section" id="Constants">
    <header>Constants</header>
    <article>
      
      <p>
        You can create a read-only, named constant with the const keyword. The
        syntax of a constant identifier is the same as for a variable
        identifier: it must start with a letter, underscore or dollar sign and
        can contain alphabetic, numeric, or underscore characters.
      </p>

      <code>const PI = 3.14;</code>
      <p>
        A constant cannot change value through assignment or be re-declared
        while the script is running. It has to be initialized to a value.
      </p>

      <p>
        The scope rules for constants are the same as those for let block scope
        variables. If the const keyword is omitted, the identifier is assumed to
        represent a variable.
      </p>

      <p>
        You cannot declare a constant with the same name as a function or
        variable in the same scope. For example:
      </p>

      <code
        >// THIS WILL CAUSE AN ERROR function f() {}; const f = 5; // THIS WILL
        CAUSE AN ERROR ALSO function f() { const g = 5; var g; //statements
        }</code
      >
      However, object attributes are not protected, so the following statement
      is executed without problems.
      <code
            >const MY_OBJECT = {"key": "value"}; MY_OBJECT.key = "otherValue";</code>
    </article>
  </section>
  <section class="main-section" id="Reference">
    <header>Reference</header>
    <article>
      <ul>
        <li>
          All the documentation in this page is taken from
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide"
             target="_blank">MDN</a>
        </li>
      </ul>
    </article>
  </section>
</main>